*{
    background-color:#7c3318;
    font-size: 2em;
    font-style: italic;
    color: rgb(8, 247, 48);
}

QWidget#wgtCentral{
    border: 1px solid #7c3318;

}

QListView#ltLista{
    background-color:rgb(38, 59, 59);
    border: 3px solid rgb(38, 59, 59);
}

QPushButton:pressed {
    background-color: #05081f;
    border: .7px solid #13b84a;
    border-style: inset;

}

QListView::item::hover{
    background: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1, stop: 0 #FAFBFE, stop: 1 #DCDEF1);
}

QLabel#lbTitulo{
    border: none;
}

QSlider::groove:horizontal {
    border: 1px thin #0ec188;
    height: 4px;
    background: qlineargradient(x1:0, y1:0, x2:0, y2:1, stop:0 #0f0631, stop:1 #0f0631);
    margin: 2px 0;
}

QSlider::handle:horizontal {
    background: qlineargradient(x1:0, y1:0, x2:1, y2:1, stop:0 #022504, stop:1 #022504);
    border: 1px solid white;
    width: 18px;
    margin: -2px 0;
    border-radius: 3px;
}